# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Android
.gradle/
local.properties
*.apk
*.aab
*.keystore
!debug.keystore

# IDE
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
